.App {
  /* background-color: #fbfbfd; */
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: justify;
  justify-content: justify;
  font-size: calc(10px + 2vmin);
  text-align: justify;
}

header {
  background-color: #fbfbfb;
}